<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Author Info</title>
</head>

<body>

    <h1>{{authors.first_name}} {{authors.last_name}}</h1>
    <h2>ID: {{authors.id}}</h2>
    <h3>Notes: {{authors.notes}}</h3>
    Books:
    <ul>
        {% for book in books %}
        <li>{{book.title}}</li>
        {% endfor %}
    </ul>
</body>

</html>