<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <h1>Edit Team</h1>
    <a href="/display">Dashboard</a>
    <table>
        <form action="/edit/{{teams.id}}" method="post">
            {% csrf_token%}
            <tr>
                <td>Team Name</td>
                <td><input type="text" name="team_name" value="{{teams.team_name}}"></td>
            </tr>
            <tr>
                <td>Skill Level(1-5)</td>
                <td><input type="text" name="skill_level"></td>
            </tr>
            <tr>
                <td>Game Day</td>
                <td><input type="text" name="game_day"></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit"></td>
            </tr>
        </form>
    </table>
</body>

</html>