<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>

<body>
    <h1>{{courses.name}}</h1>
    <h2>{{courses.day}}</h2>
    <h3>{{courses.number}}</h3>
    <h3>{{courses.desc}}</h3>
    {% if user.id == courses.user.id%}
    <a href="/delete/{{teams.id}}">Delete</a>
    <a href="/edit_show/{{teams.id}}">Edit</a>
    {% endif%}
    <button><a href="/display">Dashboard</a></button>
</body>

</html>